/* You can add global styles to this file, and also import other style files */

@import "./materials/material.module.scss";

body {
    margin: 0;
    background-color: #f8f8f8;
}

* {
    font-family: Roboto, "Helvetica Neue", sans-serif;
}